[submodule "Sill programming language/sill"]
	path = Sill programming language/sill
	url = https://github.com/ISANobody/sill.git
[submodule "Sill Programming Language/sill"]
	path = Sill Programming Language/sill
	url = https://github.com/ISANobody/sill.git
[submodule "DNSServer/erlang-dns"]
  path = DNSServer/erlang-dns
  url = https://github.com/SimonJF/erlang-dns.git
